body {
    font-family: 'Roboto', sans-serif;
}

.container-header {
    padding-top: 76px;
}

h1 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 60pt;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 40pt;
}

h3 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 30pt;
}

h4 {
    font-family: 'Roboto Slab', serif;
    text-align: left;
    font-size: 20pt;
    line-height: 30pt;
    padding-top: 30px;
}

h5 {
    font-family: 'Roboto', sans-serif;
}

.container {
    position: relative;
    width: 100%;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
}

.intro {
    text-align: center;
    padding: 45px;
}

.rechts {
    text-align: right;
    padding: 50px;
    list-style-position: inside;
}

.links {
    text-align: left;
    padding: 50px;
}

/* hover menu */

#menu {
    padding-top: 100px;
    padding-bottom: 100px;
}

.text1 {
    white-space: nowrap;
    color: white;
    font-size: 15px;
    position: absolute;
    overflow: hidden;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.overlay1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #87C38F;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    opacity: 0.85;
}

.overlay2 {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    background: #87C38F;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    opacity: 0.85;
}

.overlay3 {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    background: #87C38F;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    opacity: 0.85;
}

.overlay4 {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    background: #87C38F;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    opacity: 0.85;
}

.col-sm-2:hover .overlay1 {
    height: 100%;
}

.col-sm-2:hover .overlay2 {
    height: 100%;
}

.col-sm-2:hover .overlay3 {
    width: 100%;
}

.col-sm-2:hover .overlay4 {
    width: 100%;
}

/* sprites */

.sprites {
    width: 734px;
    height: 534px;
    ;
    background-image: url('../images/logosprites.png');
    background-position: -0px -0px;
    background-size: 200%;
    background-repeat: no-repeat;
    ;
}

.sprites:hover {
    background-position: -74px 0px;
}

/* end hover menu */

.col-sm-8 {
    text-align: center;
    padding: 50px;
}

.centertop {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

.mail {
    margin: 20px;
    padding: 10px;
    width: 250px;
    height: 30px;
}

.map {
    position: relative;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 50px;
}

#resfoto {
    position: relative;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-right: 50px;
}

#contact {
    position: relative;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 50px;
    border-style: solid;
    border-width: 15px;
    background-image: url(".");
}

.flamingo {
    background-image: url("../images/bgcontact.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 800px) {
    .flamingo {
        background-image: url("../images/bgcontact2.png")
    }
}

.link {
    color: #1b1b1b;
}

@media (max-width: 800px) {
    #contact {
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        padding: 35px;
        text-align: center;
    }
    .map {
        position: relative;
        width: 100%;
        height: 20%;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 0px;
    }
    #menu {
        padding: 0px;
    }
}

#contact2 {
    position: relative;
    margin-left: 200px;
    margin-top: 150px;
    margin: 100px;
}

#spiegel {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

@media (max-width: 800px) {
    #verberg {
        display: none;
    }
    #homepage1 {
        background-image: url("../images/homepage1mobiel.jpg") !important
    }
}

#mobileshow {
    display: none;
}

@media (max-width: 800px) {
    #mobileshow {
        display: inline;
    }
}

footer {
    width: 100%;
}

footer p {
    margin: 10px;
    color: white;
    padding: 10px;
}

#knop1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    text-align: center;
    font-size: 40px;
    background-color: #1b1b1b;
    border: none;
    width: 250px;
    height: 75px;
    border-radius: 0px;
}

#knop1:hover {
    background: #87C38F;
    transition: background-color 0.3s ease-in-out;
}

#knop {
    margin: 10px;
    color: #1b1b1b;
    ;
    padding: 10px;
    background-color: white;
    border: none;
}

#knop:hover {
    background-color: #87C38F;
}

.icons {
    font-size: 55px;
    margin: 10px;
    width: 40px;
    height: 40px;
    color: white;
}

footer ul li {
    display: inline-block;
    margin-top: 45px;
}

footer ul li a {
    text-align: right;
    margin-top: 80px;
}

.rechts footer {
    text-align: right;
}

#footer {
    font-size: 12pt;
    background-color: #1b1b1b;
}

.navbar {
    background-color: #1b1b1b;
}

.navbar a:hover {
    color: #87C38F;
}

#iconhover:hover {
    color: #87C38F;
}

.nav-item {
    font-size: 18pt;
    padding-left: 40px;
    font-family: 'Roboto Slab', serif;
}

.logonav {
    width: 75px;
}

.hover1 {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.hover1:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.navbar-toggler-icon {
    margin-top: 12px;
}

@media all and (min-width: 800px) {
    h1 {
        text-align: center;
        font-size: 60pt;
        top: 50%;
    }
}

@media (max-width: 800px) {
    h1 {
        font-size: 30pt;
    }
    .h2mobiel {
        font-size: 32pt;
    }
    h3 {
        text-align: center;
        font-size: 25pt;
        line-height: 20pt;
        padding-top: 20px;
    }
    h4 {
        text-align: center;
        font-size: 20pt;
        line-height: 30pt;
        padding-top: 30px;
    }
    footer p {
        margin: 10px;
        text-align: center;
        padding: 5px;
    }
    footer ul li {
        display: inline-block;
        margin-top: 25px;
    }
    footer ul li a {
        text-align: center;
        margin-top: 80px;
    }
    .rechts footer {
        text-align: center;
    }
    #footer {
        font-size: 10pt;
        ;
    }
    #knop {
        margin: 10px;
        ;
        padding: 10px;
        font-family: 'Roboto Slab', serif;
        border: none;
    }
    .rechts {
        padding: 15px;
        text-align: center;
    }
    .links {
        padding: 15px;
        text-align: center;
    }
}

@media all and (max-width: 499px) {
    h1 {
        text-align: center;
        font-family: 'Roboto Slab', serif;
        font-size: 30pt;
    }
}

@media all and (min-width: 1200px) {
    .parallax1 {
        background-image: url("../images/banner1.jpg");
        height: 250px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 10%;
        background-size: 100% auto;
    }
    .parallax2 {
        background-image: url("../images/banner2.jpg");
        height: 250px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 10%;
        background-size: 100% auto;
    }
}

@media all and (max-width: 1399px) {
    .parallax1 {
        background-image: url("../images/banner1.jpg");
        height: 30vw;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .parallax2 {
        background-image: url("../images/banner2.jpg");
        height: 30vw;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

/* carousel */

h5 {
    display: inline-block;
    padding: 10px;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.p {
    text-align: center;
    padding-top: 40px;
    font-size: 13px;
}

.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel {
    height: calc(100vh - 17px);
}

#homepage1 {
    background-image: url("../images/homepage1.jpg")
}

/* teller */

.count {
    color: white;
    font-size: 75px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

.row-teller {
    padding-top: 20px;
    padding-bottom: 20px;
}

#talkbubble {
    width: 120px;
    height: 80px;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    float: left;
    margin: 20px;
}

#talkbubble:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 26px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
}

.linker {
    font-size: 20px;
    color: black;
}

/* reservatie */

#bladeren {
    background-image: url("../images/bgreservatie.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#reservatie input[type="text"],
#reservatie input[type="email"],
#reservatie input[type="tel"],
#reservatie input[type="date"],
#reservatie input[type="url"],
#reservatie textarea {
    width: 100%;
    border: 1px solid #CCC;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#reservatie input[type="text"]:hover,
#reservatie input[type="email"]:hover,
#reservatie input[type="tel"]:hover,
#reservatie input[type="date"]:hover,
#reservatie input[type="url"]:hover,
#reservatie textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #AAA;
}

#reservatie textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#reservatie button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: black;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 25px;
}

#reservatie button[type="submit"]:hover {
    background: #87C38F;
    transition: background-color 0.3s ease-in-out;
}

#reservatie button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#reservatie input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #999;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}

#aantal {
    margin-left: 15px;
}

/*----- Tabs -----*/

.tabs {
    width: 100%;
    display: inline-block;
}

#info {
    padding-top: 50px;
}

.tab-links .active a {
    background-color: #87C38F;
}

/*----- Tab Links -----*/

/* Clearfix */

.tab-links:after {
    display: block;
    clear: both;
    content: '';
}

.tab-links li {
    margin: 0px 5px;
    float: left;
    list-style: none;
}

.tab-links a {
    padding: 9px 15px;
    display: inline-block;
    background: black;
    font-size: 16px;
    font-weight: 600;
    color: white;
    transition: all linear 0.15s;
}

.tab-links a:hover {
    background: #87C38F;
    text-decoration: none;
}

.tab-links a:active {
    background: #87C38F;
}

/*----- Content of Tabs -----*/

.tab-content {
    padding: 5px;
    text-align: left;
    box-shadow: -3px 0px 0px rgba(0, 0, 0, 0.15);
    padding-left: 50px;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

#tabtext {
    padding-left: 30px;
}

@media (max-width: 800px) {
    #tabtext {
        padding-top: 10px;
        padding-left: 0px;
        text-align: justify;
    }
}

#map {
    width: 100%;
    height: 650px;
}